<div>
  <!-- //string interpolation -->
  <h1>String interpolation => {{ pageName }}</h1>
  <div class="card">
    <div class="input-container">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
      />
    </div>
    <div class="input-container">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
      />
    </div>

    <div class="button-container">
      <button (click)="handleClick()" type="submit" [disabled]="btnDisable">
        Submit
      </button>
    </div>
  </div>
  <h3>Property binding</h3>
  <img alt="item" [src]="itemImageUrl" />
  <hr />
  <h1>Two-way data binding</h1>
  <form class="card">
    <div class="input-container">
      <label for="username">Username:</label>
      <input
        [(ngModel)]="search"
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
      />
    </div>
    <div class="input-container">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Enter your password"
      />
    </div>
    <div class="button-container">
      <button type="submit" (click)="handleClick()">
        Submit = event binding it is one way binding
      </button>
    </div>
  </form>
</div>
