<h1>Take first 5</h1>
<p>
  from: [ 'photos', 'youtube', 'phone', 'translate', 'digi', 'messgaes',
  'insta', 'chrome', ];
</p>
<hr />
<ul id="takeid"></ul>

<hr />
<hr />

<h1>Take Last 5</h1>
<p>
  from: [ 'photos', 'youtube', 'phone', 'translate', 'digi', 'messgaes',
  'insta', 'chrome', ];
</p>
<hr />
<ul id="takelastid"></ul>
<hr />
<hr />

<h1>Take Untill 5</h1>
<p>
  from: [ 'photos', 'youtube', 'phone', 'translate', 'digi', 'messgaes',
  'insta', 'chrome', ];
</p>
<hr />
<ul id="takeuntillid"></ul>
