<h1>Of and From</h1>
<h2>Ex - 01 (of)</h2>
<hr />
<div>
  <div>
    <p>Data:</p>
    of( 'yash', 'baba', 'yogesh')
  </div>
  <hr />
  <ul id="ulid"></ul>
</div>
<hr />
<h2>Ex - 02 (from)</h2>
<hr />
<div>
  <h2>Array</h2>
  <div>
    <p>From operater is best to convert promise into observable</p>
    from(johnalex)
  </div>
  <hr />
  <ul id="ulid1"></ul>
</div>

<h2>Ex - 03 (from)</h2>
<hr />
<div>
  <h2>Array</h2>
  <div>from(johnalex)</div>
  <hr />
  <ul id="ulid2"></ul>
</div>

<h2>Ex - 04 (Map)</h2>
<hr />
<div>
  <h2>Array</h2>
  <div>from(johnalex)</div>
  <hr />
  <ul id="ulid3"></ul>
</div>

<h2>Ex - 05 (filter)</h2>
<hr />
<div>
  <h2>Array</h2>
  <div>from(johnalex)</div>
  <hr />
  <ul id="ulid4"></ul>
</div>
