<div>
  <h2>1 CONSTRUCTOR</h2>
  <p>{{ constructorCycle }}</p>
</div>
<hr />
<div>
  <h2>2 NG ON CHNAGE</h2>
  <div style="border: coral 2px solid; margin: 10px 0">
    <p>child-cycle works!</p>
    <p>{{ OnChange }} Input</p>
  </div>
</div>
<hr />
<div>
  <h2>3 NG ON INIT</h2>
</div>
<hr />
<div>
  <h2>4 NG AFTER CONTENT INIT</h2>
  <ng-content></ng-content>
</div>
<hr />
<div>
  <h2>5 NG AFTER CONTENT CHECK</h2>
  <ng-content></ng-content>
</div>
<hr />
<div>
  <h2>6 NG AFTER VIEW INIT</h2>
  <ng-content></ng-content>
</div>
<hr />
<div>
  <h2>7 NG AFTER CONTENT CHECK</h2>
  <ng-content></ng-content>
</div>
<hr />
