<h1>ng-content works!</h1>
<h3>Here we use same component with dynamic data</h3>
<!-- Ng content used into child for reuse child Html -->
<div class="more-products">
  <app-product>
    <h2 class="title">New in Samsung</h2>
    <!--Projected content-->
    <h1>NgContainer</h1>
    <button class="btn btn-more">Show more</button>
    <!--Projected content-->
  </app-product>
  <app-product>
    <h2 class="title">New in Iphon</h2>
    <!--Projected content-->
    <button class="btn btn-more">Show more</button
    ><!--Projected content-->
  </app-product>
  <app-product>
    <h2 class="title">New in Oneplus</h2>
    <!--Projected content-->
    <button class="btn btn-more">Show more</button>
    <!--Projected content-->
  </app-product>
  <app-product>
    <h2 class="title">New in Motorola</h2>
    <!--Projected content-->
    <button class="btn btn-more">Show more</button>
    <!--Projected content-->
  </app-product>
</div>
