<div>
  <a routerLink="/productlist">From Event</a>
</div>
<div>
  <a routerLink="/interval">Interval && timer</a>
</div>
<div>
  <a routerLink="/offrom">of, from, map, filter</a>
</div>
<div>
  <a routerLink="/toarray">toarray</a>
</div>
<div>
  <a routerLink="/observable">observable</a>
</div>
<div>
  <a routerLink="/take">Take</a>
</div>
<div>
  <a routerLink="/retrywhen">Retrywhen</a>
</div>
<div>
  <a routerLink="/subject">One-way data binding</a>
</div>
<h3>Directive</h3>
<div>
  <a routerLink="/directive">directive</a>
</div>
<h3>Decorator</h3>
<div>
  <a routerLink="/decorator">decorator</a>
</div>
<div>
  <a routerLink="/trv">Template reference</a>
</div>
<div>
  <a routerLink="/viewchild">Viewchild</a>
</div>
<div>
  <a routerLink="/viewchildren">Viewchildren</a>
</div>
<div>
  <a routerLink="/contentchild">contentchild</a>
</div>
<div>
  <a routerLink="/hostbinding">hostbinding</a>
</div>
<div>
  <a routerLink="/pipe">pipe</a>
</div>
<div>
  <a routerLink="/createCustomDirective">Create-Custom-Directive</a>
</div>
<h3>View encapsulation</h3>
<div>
  <a routerLink="/viewen">view encapsulation</a>
</div>
<h3>Ng Content</h3>
<div>
  <a routerLink="/ngContent">Ng content</a>
</div>
<div>
  <a routerLink="/ngcontainer">Ng container</a>
</div>
<h3>Life-cycle</h3>
<div>
  <a routerLink="/lifecycle">Life cycle</a>
</div>
<h3>Signal</h3>
<div>
  <a routerLink="/signals">Signal</a>
</div>
<h3>Ng template</h3>
<div>
  <a routerLink="/ngtemplate">Ngtemplate</a>
</div>
